@model CategoryModel
<link rel="stylesheet" href="~/css/admin/categoryedit.css">
@await Html.PartialAsync("_admin-navbar")
<section id="category_edit">
    <div class="container">
        <h1>Edit Category</h1>
        <form asp-controller="Admin" asp-action="CategoryEdit" method="POST">
            <div class="category_edit_form">

                <input type="hidden" value="@Model.CategoryId" name="CategoryId">
                <div>

                    <label asp-for="Name"></label>
                    <input type="text" class="form-control" asp-for="Name">
                    <div class="model-alerts">
                        <span asp-validation-for="Name" class="model-alert"></span>
                    </div>
                </div>
                <div>
                    <label asp-for="Url">Url</label>
                    <input type="text" class="form-control" asp-for="Url">
                    <div class="model-alerts">
                        <span asp-validation-for="Url" class="model-alert"></span>
                    </div>
                </div>
                <button type="submit" class="btn">Save Category</button>

            </div>
        </form>
    </div>
    <div id="food-list">
        <table class="food-list-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Foods.Count() > 0)
                {
                    @foreach (var item in Model.Foods)
                    {
                        <tr>
                            <td>@item.FoodId</td>
                            <td><img src="~/img/@item.ImageUrl" width="80" alt="@item.Name"></td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>
                                <button class="btn">
                                    <a href="/admin/products/@item.FoodId">Edit</a>
                                </button>

                                <form asp-controller="Admin" asp-action="DeleteFromCategory" method="POST" style="display: inline;">
                                    <input type="hidden" name="foodId" value="@item.FoodId">
                                     <input type="hidden" name="categoryId" value="@Model.CategoryId">
                                    <button type="submit" class="btn">Delete</button>
                                </form>

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <h3>No Food</h3>
                }

            </tbody>
        </table>
    </div>

</section>
